@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #d01c38;

  --gray: #2e2e2e;
}

body {
  font-family: "Poppins" sans-serif;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  colour: white;
  font-weight: 500;
  border-radius: 10px;
}

.container {
  max-width: 1280px;
  height: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 10px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.hero {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: calc(90vh - 70px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero h1 {
  font-weight: 800;
  line-height: 96px;
  font-size: 108px;
  margin-top: 35px;
  margin-bottom: 0px;
}

.hero p {
  margin: 0;
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}

.hero-btn {
  display: flex;
  gap: 40px;
}

.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons {
  display: flex;
  gap: 16px;
}